.register-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  background-color: rgba(244, 244, 244, 1);
}
.steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 42px;
}
.card {
  background: rgba(255, 255, 255, 1);
  width: 500px;
  padding: 40px;
  border-radius: 32px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(221, 221, 228, 1);
  display: flex;
  flex-direction: column;
  gap: 24px;
  gap: 40px;
}
.welcome {
  display: flex;
  flex-direction: column;
}
.welcome h1,
.welcome h2 {
  font-family: Plus Jakarta Sans;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -3%;
  vertical-align: middle;
}
.welcome h2,
.welcome span {
  font-style: italic;
  color: rgba(144, 152, 162, 1);
}
.welcome p {
  color: rgba(59, 63, 68, 1);
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  margin-top: 8px;
}
.btns {
  display: flex;
  gap: 8px;
}
.btns button:first-child {
  width: 151;
  padding: 20px;
  border-radius: 60px;
  background: rgba(235, 235, 235, 1);
  border: none;
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: black;
  cursor: pointer;
}
.btns button:last-child {
  width: 261;
  padding: 20px;
  border-radius: 60px;
  background: rgba(0, 0, 0, 1);
  border: none;
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: white;
  cursor: pointer;
}
.alr-login {
  display: flex;
  gap: 4px;
  justify-content: center;
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(59, 63, 68, 1);
  margin-top: 16px;
}
.alr-login a {
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0%;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: solid;
  color: rgba(59, 63, 68, 1);
}
.user-partner {
  display: flex;
  gap: 16px;
}
.user-partner button {
  display: flex;
  flex-direction: column;
  align-items: start;
  background: rgba(255, 255, 255, 1);
  width: 202px;
  height: 140px;
  gap: 16px;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid rgba(221, 221, 228, 1);
  cursor: pointer;
}
.user-partner button h3 {
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(59, 63, 68, 1);
}
.user-partner button p {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0%;
  color: rgba(144, 152, 162, 1);
  text-align: left;
}
.user-partner button span {
  text-decoration: underline;
  text-decoration-style: solid;
}
.activeselect {
  border: 2px solid rgba(255, 194, 0, 1) !important;
}
.crt-p {
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(59, 63, 68, 1);
  margin-bottom: 16px;
}
.crt-p span {
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: solid;
  color: rgba(255, 194, 0, 1);
}
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}
.form-group label {
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(59, 63, 68, 1);
}
.form-group input::placeholder,
.form-group input,
.form-group select,
.form-group textarea::placeholder {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0%;
  color: rgba(144, 152, 162, 1);
}
.form-group input,
.form-group select,
.form-group textarea {
  height: 48;
  border-radius: 8px;
  border: 1px solid rgba(221, 221, 228, 1);
  padding: 12px 16px;
  color: black;
  resize: none;
}
.two-form-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  width: 100%;
}
.eye {
  position: absolute;
  right: 16px;
  top: 36px;
  cursor: pointer;
}
.form-group textarea {
  height: 80px;
}
.form-group p {
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  font-style: Italic;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(59, 63, 68, 1);
}
.submit-disable {
  opacity: 0.6;
}

/* Optional: little pulse animation when loading */
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.submit-btn.loading {
  animation: pulse 1.5s infinite;
}

@media screen and (max-width: 600px) {
  .card {
    width: 80%;
    padding: 18px;
  }
  .register-wrap {
    /* padding: 100px 24px; */
  }
  .user-partner button {
    width: 100%;
    padding: 14px;
  }
  .user-partner button p {
    font-size: 12px;
  }
  .two-form-group {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 1450px) {
  .register-wrap {
    height: 100vh;
  }
  .user-partner button{
    width: 100%;
  }
  .btns{
    width: 100%;
    justify-content: center;
  }
}
