.hero-section {
  display: flex;
  align-items: start;
  width: 100%;
  padding: 42px 120px;
  /* padding-right: 100px; */
  background: #f4f4f4;
  gap: 18px;
  /* background: linear-gradient(rgba(235, 235, 235, 1), rgba(235, 235, 235, 1)), url(../assets/images/hero-bg.svg); */
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-position: center;
  background-size: cover;
  justify-content: start;
}
.hero-texts {
  background-image:
    linear-gradient(#f4f4f474, #f4f4f474), url(../assets/images/hero-bg.svg);
  background-size: cover;
  background-position: center;
}
.hero-content h1 {
  font-family: Plus Jakarta Sans;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 64px;
  line-height: 64px;
  letter-spacing: -3%;
  vertical-align: middle;
  color: Black;
  margin-top: 20px;
}
.hero-content h1 span {
  font-style: italic;
  color: rgba(255, 204, 42, 1);
}
.hero-content p {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  width: 508px;
  margin-top: 20px;
}
.hero-texts button {
  padding: 20px 48px;
  /* background: #000; */
  color: #000;
  border-radius: 60px;
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  background: rgba(255, 204, 42, 1);
}
.hero-texts a {
  padding: 20px 48px;
  background-color: #000;
  color: #fff;
  border-radius: 60px;
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: none;
}
.hero-btns {
  padding: 24px 0;
  display: flex;
  align-items: center;
  gap: 12px;
}
.hero-image {
  width: 420px;
  height: 540px;
  /* margin-left: -40px; */
}

.numbers-wrap {
  border-radius: 24px;
  border: 1px solid rgba(221, 221, 228, 1);
  background: rgba(244, 244, 244, 1);
  display: flex;
  padding: 24px;
  width: 90%;
  margin-top: 30px;
  /* max-width: 600px; */
}
.numbers-wrap div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.numbers-wrap h2 {
  font-family: Plus Jakarta Sans;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 28px;
  color: rgba(23, 28, 34, 1);
  line-height: 100%;
  letter-spacing: -3%;
  text-align: center;
}
.numbers-wrap h3 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 100%;
  color: rgba(144, 152, 162, 1);
  text-align: center;
}
.home-section-wrap {
  padding: 120px 120px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background: rgba(235, 235, 235, 1);
}
.schedule-pickup {
  display: flex;
  align-items: center;
  gap: 73px;
}
.schedule-pickup .word-wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: start;
}
.schedule-pickup h1 {
  font-family: Plus Jakarta Sans;
  font-weight: 800;
  font-style: Italic;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -2%;
  vertical-align: middle;
  color: rgba(255, 194, 0, 1);
  /* width: 567px; */
}
.schedule-pickup h1 span {
  font-style: normal !important;
  color: rgba(144, 152, 162, 1);
  color: black;
}
.schedule-pickup p {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 20.84px;
  color: rgba(59, 63, 68, 1);
  line-height: 25px;
  letter-spacing: 0%;
  vertical-align: middle;
}
.schedule-pickup a {
  padding: 20px;
  border-radius: 60px;
  background: #000;
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: white;
  cursor: pointer;
}
.grid-images {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr;
}
.grid-images div:first-child {
  grid-column: span 2;
  width: 568px;
  background: linear-gradient(180deg, #fff9e6 0%, #ffefbd 100%);
  border: 5px solid rgba(255, 255, 255, 1);
  border-radius: 24px;
}
.grid-images div:first-child img {
  margin-bottom: -8px;
}
.our-services {
  padding: 100px 120px;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.services-header {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.services-header h1 {
  font-family: Plus Jakarta Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -2%;
  vertical-align: middle;
  color: black;
  width: 516px;
}
.services-header h1 i {
  color: rgba(144, 152, 162, 1);
}
.services-header h1 span {
  color: rgba(255, 194, 0, 1);
}
.services-top {
  border-top: 1px dashed rgba(221, 221, 228, 1);
  width: 100%;
  display: flex;
  justify-content: start;
}
.services-top span {
  font-family: Plus Jakarta Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.3px;
  vertical-align: middle;
  color: rgba(144, 152, 162, 1);
  padding: 14px 24px;
  border-radius: 43px;
  border: 1px dashed rgba(221, 221, 228, 1);
  background: white;
  margin-top: -28px;
}
.services-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 42px;
}
.services-grid .sgrids:first-child {
  grid-column: span 2;
  background: linear-gradient(180deg, #fff5d6 0%, #fff0c2 100%);
  border: 0.5px solid rgba(221, 221, 228, 1);
}
.services-grid .sgrids {
  border-radius: 32px;
  border: 0.5px solid rgba(221, 221, 228, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  position: relative;
}
.services-grid div h2 {
  font-family: Plus Jakarta Sans;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #000;
}
.services-grid div p {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(59, 63, 68, 1);
  width: 428px;
}
.services-grid div a {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}
.services-grid div a span {
  font-family: Plus Jakarta Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20.51px;
  color: rgba(59, 63, 68, 1);
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-decoration: underline;
  text-decoration-style: solid;
}
.sgrid1 div {
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: absolute;
}
.sgrids img {
  width: 100%;
  height: 100%;
  border-radius: 32px;
}
.sgrid2 {
  background: linear-gradient(180deg, #fcfaff 0%, #f5f1fe 100%);
  flex-direction: row !important;
  width: 100%;
}
.sgrid2 div {
  padding: 80px 0 30px 80px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.sgrid3 {
  background: rgba(110, 158, 183, 1);
  color: white;
}
.sgrid3 h2,
.sgrid3 p,
.sgrid3 span {
  color: white !important;
}
.how-best-wrap {
  padding: 120px 100px 50px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background: white;
}
.how-head h1 {
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 48px;
  line-height: 100%;
  color: #000;
  letter-spacing: -2%;
  vertical-align: middle;
  width: 411px;
}
.how-head h1 span {
  font-style: italic;
  color: rgba(144, 152, 162, 1);
}
.how-head p {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  color: rgba(144, 152, 162, 1);
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  margin-top: 16px;
}
.best-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}
.best-box {
  border: 0.5px solid rgba(221, 221, 228, 1);
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px;
}
.best-grid h2 {
  margin-bottom: 8px;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  color: rgba(59, 63, 68, 1);
  line-height: 100%;
  letter-spacing: -1%;
  vertical-align: middle;
}
.best-grid p {
  /* margin-bottom: 8px; */
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 15px;
  color: rgba(144, 152, 162, 1);
  line-height: 100%;
  letter-spacing: 0%;
  height: 100px;
  /* width: 185x; */
}
.best-grid a {
  color: rgba(144, 152, 162, 1);
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.best-grid a span {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -1%;
  vertical-align: middle;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
}
.grid-txt {
  padding: 6px;
}
.best-grid img {
  width: 200px;
}
.faq-wrap {
  background: rgba(244, 244, 244, 1);
  padding: 120px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.faq-header {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.faq-header h1 {
  font-family: Plus Jakarta Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -2%;
  vertical-align: middle;
  color: black;
  width: 516px;
}
.faq-header h1 i {
  color: rgba(144, 152, 162, 1);
}
.faq-header h1 span {
  color: rgba(255, 194, 0, 1);
}
.faq-top {
  border-top: 1px dashed rgba(221, 221, 228, 1);
  width: 100%;
  display: flex;
  justify-content: start;
}
.faq-top span {
  font-family: Plus Jakarta Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.3px;
  vertical-align: middle;
  color: rgba(144, 152, 162, 1);
  padding: 14px 24px;
  border-radius: 43px;
  border: 1px dashed rgba(221, 221, 228, 1);
  background: rgba(244, 244, 244, 1);
  margin-top: -28px;
}
.faq-questions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.faq {
  width: 760px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  border-radius: 16px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.faq.open {
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.06);
  transform: translateY(-2px);
}

.faq p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: rgba(34, 34, 34, 1);
  line-height: 1.4;
  letter-spacing: -0.03em;
  transition: color 0.2s ease;
}

.faq p:last-child {
  border-top: 2px dashed rgba(221, 221, 228, 1);
  padding-top: 16px;
  font-weight: 400;
  color: rgba(90, 90, 90, 1);
  line-height: 1.6;
}

.faq div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

.faq.open .faq-answer {
  max-height: 500px;
}

.testimonial-wrap {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background: white;
  padding-bottom: 120px;
}
.testimonial-padding {
  padding: 120px 100px;
  padding-bottom: 0;
}
.GetQuote {
  display: flex;
  background: #000;
  justify-content: center;
}
.repairs-wrap {
  display: flex;
  flex-direction: column;
  gap: 80px;
  background: black;
  padding: 120px 100px;
}
.repairs-top {
  border-top: 1px dashed white;
  width: 100%;
  display: flex;
  justify-content: start;
}
.repairs-top span {
  font-family: Plus Jakarta Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.3px;
  vertical-align: middle;
  color: white;
  padding: 14px 24px;
  border-radius: 43px;
  border: 1px dashed white;
  background: black;
  margin-top: -28px;
}
.repair-header h1 {
  font-family: Plus Jakarta Sans;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: white;
}
.repair-header span {
  color: rgba(255, 194, 0, 1);
  font-style: italic;
}
.repair-header p {
  font-family: Plus Jakarta Sans;
  font-weight: 200;
  font-style: ExtraLight;
  font-size: 20px;
  color: rgba(227, 229, 232, 1);
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  width: 438px;
}
.repair-header p span {
  font-weight: 800;
  font-style: Italic;
  font-size: 20px;
  color: rgba(227, 229, 232, 1);
}
.repair-header {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.repair-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  width: 100%;
}
.repair-grid {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  border-radius: 24px;
  background: rgba(28, 28, 28, 1);
  width: 388px;
}
.repair-grid h1 {
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  color: white;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
}
.repair-grid p {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  color: rgba(227, 229, 232, 1);
  line-height: 16px;
  letter-spacing: 0%;
  vertical-align: middle;
}
.repair-grid select,
.repair-grid option,
.gadget-cost {
  justify-content: space-between;
  background: rgba(59, 63, 68, 1);
  border-radius: 8px;
  padding: 6px 16px;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  color: white;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  cursor: pointer;
}
.repair-range {
  display: flex;
  width: 100%;
  gap: 16px;
  align-items: center;
}
.repair-range span {
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  color: white;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  padding: 6px;
  border-radius: 8px;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  color: white;
  background: rgba(59, 63, 68, 1);
}
.gadget-cost {
  width: 300px;
}
.gadget-cost {
  -moz-appearance: textfield;
}
.gadget-cost::-webkit-outer-spin-button,
.gadget-cost::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.range {
  -webkit-appearance: none;
  width: 230px;
  height: 3px;
  border-radius: 5px;
  background: rgba(59, 63, 68, 1);
  outline: none;
  cursor: pointer;
}
/* WebKit browsers (Chrome, Safari, Edge) */
.range::-webkit-slider-runnable-track {
  height: 3px;
  border-radius: 5px;
  background: linear-gradient(
    to right,
    #ffffff var(--progress),
    rgba(59, 63, 68, 1) var(--progress)
  );
}
/* Firefox */
.range::-moz-range-track {
  height: 3px;
  border-radius: 5px;
  background: rgba(59, 63, 68, 1);
}
.range::-moz-range-progress {
  height: 3px;
  border-radius: 5px;
  background: #ffffff;
}
/* Thumb styling */
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(28, 28, 28, 1);
  border: 2px solid rgba(255, 255, 255, 1);
  cursor: pointer;
  transition: all 0.2s ease;
  margin-top: -8px; /* centers thumb vertically */
}
.range::-webkit-slider-thumb:hover {
  transform: scale(1.1);
}
.approx-wrap {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}
.approx-wrap h1 {
  font-family: Plus Jakarta Sans;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 32px;
  color: white;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}
.approx-wrap button, .approx-wrap a {
  width: 220;
  height: 68;
  opacity: 1;
  border-radius: 60px;
  padding: 24px 48px;
  border: none;
  background-color: rgba(255, 194, 0, 1);
  color: black;
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.approx-wrap h3, .approx-wrap h2 {
  font-family: Plus Jakarta Sans;
  font-weight: 200;
  font-style: ExtraLight;
  font-size: 16px;
  color: rgba(227, 229, 232, 1);
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  width: 300px;
}
.approx-wrap h3 span, .approx-wrap h2 span {
  font-weight: 700;
  font-style: bold;
  color: rgba(227, 229, 232, 1);
}
.approx-wrap p {
  background: rgba(59, 63, 68, 1);
  border-radius: 8px;
  padding: 16px 34px;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  color: white;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  cursor: pointer;
  text-align: center;
  width: 388px;
}
.approx-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.approx-deets {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.numbers-mobile{
    display: none !important;
  }

@media screen and (max-width: 1290px) {
  .hero-section {
    padding: 42px 100px;
  }
  .our-services {
    padding: 100px 80px;
  }
  .home-section-wrap,
  .repairs-wrap,
  .faq-wrap {
    padding: 120px 80px;
  }
  .how-best-wrap {
    padding: 120px 40px 50px;
  }
  .schedule-pickup h1 {
    width: 450px;
    font-size: 40px;
  }
  .range {
    width: 195px;
  }
  .repair-grid h1 {
    font-size: 18px;
  }
  .gadget-cost {
    width: 250px;
  }
  .repair-grid {
    width: 350px;
  }
  .repair-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .hero-content h1 {
    font-size: 56px;
  }
  .hero-content p {
    font-size: 16px;
    margin-top: 20px;
  }
  .hero-image {
    margin-left: 0;
  }
  .numbers-wrap {
    padding: 20px;
  }
}

@media screen and (max-width: 900px) {
  .hero-section {
    flex-direction: column;
  }
  .hero-content button {
    margin-bottom: 0;
  }
  .services-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .services-grid .sgrids:first-child {
    grid-column: span 1;
    /* padding: 80px 0 30px 80px; */
  }
  .sgrids:first-child img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .schedule-pickup {
    flex-direction: column-reverse;
    align-items: start;
    gap: 42px;
  }
  .home-section-wrap {
    gap: 42px;
  }
  .schedule-pickup:nth-child(2) {
    flex-direction: column;
  }
  .best-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .faq {
    width: 100%;
  }
  .sgrid2 img {
    width: 200px;
    object-fit: cover;

    /* display: none; */
  }
  .sgrid2 {
    justify-content: start !important;
  }
}

@media screen and (max-width: 600px) {
  .home-section-wrap,
  .repairs-wrap,
  .faq-wrap {
    padding: 80px 32px;
  }
  .hero-section {
    padding: 68px 32px;
  }
  .hero-content h1 {
    font-size: 32px;
    line-height: 36px;
    width: 100%;
  }
  .hero-image {
    width: 100%;
    height: 100%;
  }
  .hero-content p {
    width: 100%;
  }
  .services-grid div a span {
    font-size: 16px;
  }
  .our-services {
    padding: 100px 32px;
  }
  .services-header h1 {
    font-size: 32px;
    width: 100%;
  }
  .services-grid div p {
    width: 100%;
    font-size: 16px;
  }
  .sgrid2 div {
    padding: 32px 0 30px 32px;
  }
  .sgrid1 div {
    padding-left: 32px;
    gap: 24px;
  }
  .sgrid2 div {
    gap: 24px;
  }
  .sgrids:first-child img {
    height: 302px;
  }
  .schedule-pickup img,
  .grid-images div:first-child {
    width: 100%;
    height: 100%;
  }
  .schedule-pickup h1 {
    width: 100%;
    font-size: 32px;
  }
  .schedule-pickup p {
    font-size: 18px;
  }
  .approx-deets {
    flex-direction: column;
  }
  .how-head h1,
  .faq-header h1,
  .repair-header h1 {
    font-size: 32px;
    width: 100%;
  }
  .testimonial-padding {
    padding: 120px 32px 0;
  }
  .repair-header p {
    width: 100%;
    font-size: 18px;
  }
  .best-grid {
    grid-template-columns: 1fr;
  }
  .best-grid img {
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
  }
  .services-grid div h2 {
    font-size: 32px;
  }
  .approx-wrap p {
    width: 350px;
  }
  .foot-block-addy {
    height: 100% !important;
    padding: 0 !important;
  }
  .range {
    width: 175px;
  }
  .sgrid2 {
    flex-direction: column !important;
  }
  .hero-btns button,
  .hero-btns a {
    font-size: 12px;
    padding: 18px 34px;
  }
  .numbers-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    width: 100%;
    margin-top: 0;
  }
  .numbers-wrap h2 {
    font-size: 20px;
  }
  .numbers-pc{
    display: none;
  }
  .numbers-mobile{
    display: grid !important;
    margin-top: 24px;
  }
}

@media screen and (min-width: 1450px) {
  .hero-section {
    justify-content: center;
  }
  .hero-content h1 {
    width: 700px;
  }
  .schedule-pickup,
  .how-best-wrap,
  .repairs-wrap {
    max-width: 1200px;
  }
  .home-section-wrap {
    align-items: center;
  }
  .our-services {
    align-items: center;
  }
  .services-header,
  .how-head {
    align-items: start !important;
    justify-content: start;
    width: 100%;
    max-width: 1200px;
  }
  .faq-wrap {
    align-items: center;
  }
  .how-best-wrap {
    align-items: center;
  }
  .how-best-section {
    display: flex;
    justify-content: center;
  }
  .repairs-wrap {
    padding: 120px 0;
  }
  .testimonial-wrap {
    align-items: center;
  }
  .faq-header {
    justify-content: start;
    width: 100%;
    max-width: 1200px;
    align-items: start !important;
    padding: 120px 0 0;
  }
  .schedule-pickup {
    gap: 70px;
  }
  .faq {
    width: 1200px;
  }
  .numbers-wrap {
    max-width: 800px;
  }
}
