.book-page {
  font-family: "Plus Jakarta Sans", sans-serif;
}
.book-header {
  padding: 24px;
}
.book-header h1 {
  font-size: 28px;
  font-weight: 600;
  margin: 0 0 8px 0;
}
.book-header p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
}
.repair-form-wrap {
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: 32px;
  padding: 40px;
  background: transparent;
  width: 760px;
}
.repair-head {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.repair-head h2 {
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  color: black;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}
.repair-btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.repair-btn button {
  padding: 20px 48px;
  border-radius: 60px;
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  border: none;
  cursor: pointer;
}
.repair-btn-back {
  background: rgba(235, 235, 235, 1);
  color: black;
}
.repair-btn-proceed {
  background: black;
  color: white;
}
.repair-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.form-wrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.form-wrap label {
  font-family: Plus Jakarta Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  color: rgba(59, 63, 68, 1);
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}
.form-wrap input,
.form-wrap select,
.form-wrap textarea {
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid rgba(221, 221, 228, 1);
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 16px;
  color: rgba(144, 152, 162, 1);
}
.form-wrap input::placeholder,
.form-wrap select::placeholder,
.form-wrap textarea::placeholder {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 16px;
  color: rgba(144, 152, 162, 1);
}
.form-wrap textarea {
  resize: none;
  height: 80px;
}
.bookform-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
.form-wrap p {
  display: flex;
  justify-content: space-between;
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  font-style: Italic;
  font-size: 12px;
  color: rgba(144, 152, 162, 1);
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}
.upload-image {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  color: rgba(59, 63, 68, 1);
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  border: 1px dashed rgba(221, 221, 228, 1);
  border-radius: 12px;
  height: 182px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.upload-image div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.bookform-grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
.form-street {
  margin-top: -10px;
}
.repair-summary {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.repair-details {
  display: flex;
  align-items: start;
  gap: 16px;
}
.brand-model {
  padding: 24px;
  border-radius: 8px;
  border: 1px solid rgba(221, 221, 228, 1);
  display: flex;
  gap: 16px;
  align-items: start;
  justify-content: start;
}
.brand-model img {
  width: 40px;
  height: 40px;
  margin-top: -5px;
}
.brand-model div h3,
.device-details div h3 {
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  color: rgba(59, 63, 68, 1);
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  margin-bottom: 4px;
}
.brand-model div p {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 13px;
  color: rgba(59, 63, 68, 1);
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  width: 65px;
}
.device-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 42px;
  padding: 24px;
  border-radius: 8px;
  border: 1px solid rgba(221, 221, 228, 1);
  background: rgba(244, 244, 244, 1);
}
.device-details div p {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 13px;
  color: rgba(59, 63, 68, 1);
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}
.device-details div h3 {
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  color: rgba(59, 63, 68, 1);
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-align: left;
  margin-bottom: 8px;
}
.agree {
  display: flex;
  gap: 8px;
}
.agree input {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(221, 221, 228, 1);
  background-color: rgba(244, 244, 244, 1);
  cursor: pointer;
}
.agree p {
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  color: rgba(59, 63, 68, 1);
  line-height: 14px;
  letter-spacing: 0%;
}
.agree p span {
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  color: rgba(255, 194, 0, 1);
  line-height: 14px;
  letter-spacing: 0%;
  text-decoration: underline;
}

/* MODAL */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.modal {
  background-color: #fff;
  border-radius: 32px;
  width: 432px;
  overflow: hidden;
  border: 2px solid rgba(255, 255, 255, 1);
}
.modalheader {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 24px;
  background: rgba(255, 194, 0, 1);
}
.modalheader h2 {
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: black;
}
.modalheader h2 span {
  color: white;
}
.timersContainer {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  width: 100%;
}
.timersContainer div {
  width: 180px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.timersContainer h3 {
  font-family: Plus Jakarta Sans;
  font-weight: 300;
  font-style: Light;
  font-size: 12px;
  color: rgba(59, 63, 68, 1);
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}
.timersContainer p {
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  color: #000;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}
.timersContainer h5 {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-style: Italic;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  display: flex;
  gap: 11px;
  color: rgba(59, 63, 68, 1);
}
.timelineContainer {
  padding: 0 32px;
  position: relative;
}
.timelineItem {
  display: flex;
  margin-bottom: 47px;
  gap: 32px;
  position: relative;
}
.timestamp {
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;
  color: rgba(144, 152, 162, 1);
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  vertical-align: middle;
  width: 74px;
}
.line1 {
  height: 47px;
  width: 3px;
  background-color: rgba(255, 194, 0, 1);
  margin-left: 115px;
  margin-bottom: 2px;
}
/* Updated circle and line positioning to be inline horizontally */
.circle {
  height: 20px;
  width: 20px;
  background: white;
  border: 2px solid rgba(221, 221, 228, 1);
  border-radius: 100%;
  flex-shrink: 0;
  margin-bottom: 50px;
  position: absolute;
  z-index: 2;
  left: 106px;
  top: 0;
}
.circle.completed {
  background: white;
  border: 2px solid rgba(255, 194, 0, 1);
}
/* Updated line positioning and removed margin-top from content */
.line {
  height: 47px;
  width: 3px;
  margin-top: 2px;
  position: absolute;
  left: 115px;
  top: 20px;
  z-index: 1000;
}
.line-completed {
  background-color: rgba(255, 194, 0, 1);
}
.line-split {
  background: linear-gradient(
    to bottom,
    rgba(255, 194, 0, 1) 50%,
    rgba(209, 213, 219, 1) 50%
  );
}
.line-ash {
  background-color: rgba(209, 213, 219, 1);
}
.step-label {
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  /* margin-top: -2px; */
}
.content {
  margin-left: 47px;
}
.close-wrap {
  padding: 16px;
  background: rgba(244, 244, 244, 1);
  display: flex;
  justify-content: right;
  border-top: 1px solid rgba(221, 221, 228, 1);
  gap: 10px;
}
.acceptButton {
  background-color: #000;
  color: white;
  padding: 16px 32px;
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  border-radius: 40px;
  border: none;
  cursor: pointer;
}
.declineButton {
  background-color: #ffff;
  color: black;
  padding: 16px 32px;
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  border-radius: 40px;
  border: none;
  cursor: pointer;
}
.modalIssue h3 {
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  color: rgba(59, 63, 68, 1);
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.modalIssue p {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  color: rgba(59, 63, 68, 1);
  line-height: 100%;
  letter-spacing: 0%;
}
.itemContainer {
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.box-wrap div {
  width: 184px;
  height: 57px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: center;
  align-items: start;
  padding-left: 32px;
}
.boxtwo {
  height: 74px !important;
}
.box-wrap h1 {
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  color: rgba(59, 63, 68, 1);
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: capitalize;
}
.box-wrap h2 {
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  color: rgba(59, 63, 68, 1);
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: capitalize;
}
.box-wrap p {
  font-family: Plus Jakarta Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  color: rgba(59, 63, 68, 1);
  line-height: 100%;
  letter-spacing: 0%;
}
.box-wrap h3 {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  color: rgba(59, 63, 68, 1);
  line-height: 100%;
  letter-spacing: 0%;
}
.box-left {
  border: 1px solid rgba(221, 221, 228, 1);
  border-left: none;
}
.box-right {
  border: 1px solid rgba(221, 221, 228, 1);
  border-right: none;
}
.btop {
  border-top: none;
}
.bbtm {
  border-bottom: none;
}

@media screen and (max-width: 600px) {
  .gadget-options {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
  }
  .bookform-grid {
    grid-template-columns: 1fr;
  }
  .repair-form-wrap {
    width: 100%;
    padding: 0;
  }
  .section-wrap {
    padding: 60px 28px;
  }
  .form-wrap p {
    font-size: 8px;
  }
  .repair-head img {
    width: 80%;
  }
  .book-header{
    padding: 0;
    margin-bottom: 24px;
  }
  .repair-btn {
    flex-direction: column-reverse;
    gap: 12px;
  }
  .book-header h1 {
    font-size: 24px;
  }
  .book-header p {
    font-size: 14px;
  }
  .bookform-grid2 {
    grid-template-columns: 1fr;
  }
  .repair-details{
    flex-direction: column;
  }
  .brand-model{
    width: 100%;
  }
}
