.gadget-options {
  display: flex;
  gap: 8px;
}
.gadget-options button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
  border-radius: 8px;
  padding: 16px;
  border: 1px solid rgba(221, 221, 228, 1);
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
  color: black;
}
.active-option {
  border: 2px solid rgba(255, 194, 0, 1) !important;
}

@media screen and (max-width: 600px) {
  .gadget-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
