.sidebar {
  display: flex;
  flex-direction: column;
  padding: 100px 24px;
  height: 100vh;
  padding-top: 120px;
  background: rgba(244, 244, 244, 1);
  width: 250px;
  position: fixed;
}
.sidebar-links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.sidebar-links a {
  font-size: 14px;
  font-weight: 600;
  color: black;
  cursor: pointer;
  padding: 12px 18px;
  border-radius: 5px;
}
.sidebar-links a.active {
  background: rgba(0, 0, 0, 0.05);
}
.sidebar-links a:hover {
  background: rgba(0, 0, 0, 0.05);
  transition: ease-in .3s all;
}
