.footer-main {
  display: flex;
  width: 100%;
  background: rgba(8, 8, 8, 1);
}
.foot-block {
  padding: 64px 24px;
  border: 0.5px solid rgba(59, 63, 68, 1);
  border-bottom: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.foot-block-1 {
  border-left: none;
  width: 303px;
  height: 586px;
}
.foot-block-img {
  width: 232px;
  border-left: none;
}
.foot-block-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.foot-block h3,
.foot-contact h3 {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 1px;
  vertical-align: middle;
  text-transform: uppercase;
  color: rgba(158, 165, 173, 1);
}
.foot-block a,
.foot-contact p {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: white;
}
.social-icon {
  display: flex;
  gap: 8px;
  padding: 24px;
  font-family: Plus Jakarta Sans;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(255, 255, 255, 1);
  border-top: 0.5px solid rgba(59, 63, 68, 1);
  border-left: none;
  border-bottom: none;
  cursor: pointer;
}
.copyright {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: rgba(144, 152, 162, 1);
  padding: 40px;
  background: rgba(8, 8, 8, 1);
  border-top: 0.5px solid rgba(59, 63, 68, 1);
  border-bottom: 0.5px solid rgba(59, 63, 68, 1);
  background-position: bottom;
}
.foot-contact {
  width: 100%;
  border: 0.5px solid rgba(59, 63, 68, 1);
  border-right: none;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.foot-contact h2 {
  padding-left: 24px;
  padding-bottom: 32px;
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 1px;
  vertical-align: middle;
  text-transform: uppercase;
  color: rgba(158, 165, 173, 1);
}
.foot-block-addy {
  height: 586px;
  padding: 64px 0;
}
.footer-img {
  position: absolute;
  bottom: 10px;
}
.addy-block {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  border-top: 0.5px solid rgba(59, 63, 68, 1);
  border-bottom: 0.5px solid rgba(59, 63, 68, 1);
}
.addy-block2 {
  border-bottom: none;
}
.addy-block p {
  display: flex;
  gap: 8px;
}
.newsletter-wrap {
  padding: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* background: linear-gradient(180deg, white 50%, rgba(8, 8, 8, 1) 50%); */
}
.newletter-wrap-true {
  background: linear-gradient(180deg, white 70%, rgba(8, 8, 8, 1) 30%);
}
.newletter-wrap-false {
  background: linear-gradient(
    180deg,
    rgba(235, 235, 235, 1) 70%,
    rgba(8, 8, 8, 1) 30%
  );
}
.newsletter {
  width: 1000px;
  display: flex;
  opacity: 1;
  border-width: 10px;
  padding: 40px;
  border-radius: 32px;
  background-color: rgba(8, 8, 8, 1);
  border: 8px white solid;
  z-index: 99;
}
.newsletter h2 {
  font-family: Plus Jakarta Sans;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: white;
}
.newsletter p {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  line-height: 28px;
  letter-spacing: 0%;
  vertical-align: middle;
  width: 481px;
}
.newsletter input {
  width: 438px;
  width: 438.3900146484375;
  height: 50;
  padding: 4px;
  padding-left: 24px;
  border-radius: 16px;
}
.input-button {
  position: relative;
}
.newsletter button {
  width: 81px;
  padding: 14px;
  border-radius: 12px;
  font-family: Plus Jakarta Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: white;
  border: none;
  background: rgba(8, 8, 8, 1);
  position: absolute;
  right: 4.5px;
  top: 4.5px;
  cursor: pointer;
}
.newsletter input::placeholder,
.newsletter input {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}
.footer-imgtext {
  width: 100%;
  background: rgba(8, 8, 8, 1);
}
.footer-imgtext img {
  width: 100%;
  margin-top: -260px;
}
.show-ig {
  display: none;
}
.shape {
  background: black;
  width: 200px;
  height: 100px;
  border-radius: 0 45px 0 0;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1;
}
.shape2 {
  background: black;
  width: 200px;
  height: 100px;
  border-radius: 45px 0 0 0;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 1;
}

@media screen and (max-width: 1290px) {
  .shape,
  .shape2 {
    display: none;
  }
  .newletter-wrap-true {
    background: linear-gradient(180deg, white 50%, rgba(8, 8, 8, 1) 50%);
  }
  .newletter-wrap-false {
    background: linear-gradient(
      180deg,
      rgba(235, 235, 235, 1) 50%,
      rgba(8, 8, 8, 1) 50%
    );
  }
}
@media screen and (max-width: 900px) {
  .newsletter {
    flex-direction: column;
    width: 530px;
    gap: 24px;
  }
  .newsletter p {
    width: 100%;
  }
  .newsletter button {
    right: 0px;
  }
  .footer-main {
    flex-wrap: wrap;
  }
  .foot-block-img {
    width: 208px;
  }
  .foot-block-1 {
    width: 280px;
  }
  .hide-ig {
    display: none;
  }
  .show-ig {
    display: flex;
    border-left: 0.5px solid #3b3f44;
  }
  .social-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .footer-main {
    display: block;
  }
  .foot-block-1,
  .foot-block-img {
    width: 100%;
    height: 100%;
  }
  .footer-imgtext img {
    height: 200px;
    margin-top: 0;
  }
  .newsletter input {
    width: 280px;
  }
  .newsletter button {
    right: 5px;
  }
  .foot-contact h2 {
    padding: 24px;
  }
}
.shape {
  background: black;
  width: 200px;
  height: 100px;
  border-radius: 0 45px 0 0;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1;
}
.shape2 {
  background: black;
  width: 200px;
  height: 100px;
  border-radius: 45px 0 0 0;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 1;
}

@media screen and (min-width: 1450px) {
  .shape,
  .shape2 {
    display: none;
  }
  .newletter-wrap-true {
    background: linear-gradient(180deg, white 50%, rgba(8, 8, 8, 1) 50%);
  }
  .newletter-wrap-false {
    background: linear-gradient(
      180deg,
      rgba(235, 235, 235, 1) 50%,
      rgba(8, 8, 8, 1) 50%
    );
  }
  .foot-block-img {
    width: 250px;
  }
  .foot-block-1 {
    width: 250px;
  }
  .foot-block {
    padding: 64px 48px;
  }
  footer {
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, white 10.5%, rgba(8, 8, 8, 1) 10.5%);
  }
  .footer-center-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .foot-block-addy,
  .addy-block2 {
    width: 500px;
  }

  .newsletter-wrap {
    max-width: 1200px;
    width: 100%;
  }
  .footer-main {
    max-width: 1200px;
  }
  .foot-contact {
    width: 500px;
  }
}
